
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}


header {
    display: flex;
    width: 100%;
    background-color: grey;
    flex-direction: column;

    #top {
        width: 100%;
        
        #title {
            justify-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5px;
        }
        #login_box {
            justify-self: end;
            background-color: black;
            margin: 5px 5px 0px 0px;
        }
    }

    nav {
        ul {
            margin: 5px;
            display: flex;
            justify-content: space-around;
            li {
                list-style: none;
            }
        }
    }
}